{% extends "template/onenews.html" %}
{% set title = 'Κυκλοφορία της έκδοσης 2.0 του GCompris.' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0.png')"/>

<p>Γεια σας,<br />
Είμαστε στην ευχάριστη θέση να ανακοινώσουμε την έκδοση 2.0 του GCompris. Η εκπαιδευτική αξία και οι ώρες ψυχαγωγίας που προσφέρει στα παιδιά, κάνει το GCompris ένα πολύ ενδιαφέρον δώρο για τις γιορτινές ημέρες που έρχονται.</p>
<p>Στη νέα του έκδοση, διαθέτει πολλές νέες και βελτιωμένες δραστηριότητες. Ακολουθεί μια περίληψη των αλλαγών που έγιναν.</p>

<p>Νέες δραστηριότητες:</p>
<li class="puce">Η δραστηριότητα 'Παιδικό ποντίκι' προορίζεται για μια πρώτη διαδραστική επαφή των παιδιών με τον υπολογιστή.</li>
<li class="puce">Το 'Οβάρι' είναι ένα παραδοσιακό αφρικανικό παιχνίδι στρατηγικής. Μπορείς να παίξεις με αντίπαλο τον υπολογιστή ή κάποιον φίλο.</li>
<li class="puce">Στην 'Κωδικοποίηση διαδρομής' (απόλυτης ή σχετικής) τα παιδιά πρέπει να δώσουν ένα σύνολο εντολών για να κάνουν μια προσδιορισμένη διαδρομή στο πλέγμα.</li>
<li class="puce">Στην 'Αποκωδικοποίηση διαδρομής' (απόλυτης ή σχετικής) συμβαίνει το αντίθετο. Τα παιδιά πρέπει να δημιουργήσουν τη διαδρομή που ανταποκρίνεται σε ένα προσδιορισμένο σύνολο εντολών.</li>
<li class="puce">Στη δραστηριότητα 'Μαθαίνω ποσότητες', στόχος είναι η καταμέτρηση των αντικειμένων που χρειάζονται για να αναπαρασταθεί μια ποσότητα.</li>
<li class="puce">Στη δραστηριότητα 'Μαθαίνω δεκαδικούς' τα παιδιά χωρίζουν μονάδες σε μικρότερα κομμάτια για να αντιληφθούν την έννοια των δεκαδικών αριθμών.</li>
<li class="puce">Στις δραστηριότητες 'Πρόσθεση δεκαδικών' και 'Αφαίρεση δεκαδικών' χρησιμοποιούνται οι ίδιες αρχές όπως και στη δραστηριότητα 'Μαθαίνω δεκαδικούς', αλλά με σκοπό την πρακτική εξάσκηση σε αυτές τις πράξεις.</li>
<li class="puce">Με τη δραστηριότητα 'Ταξινομώ αριθμούς' τα παιδιά εξασκούνται στην ταξινόμηση αριθμών σε αύξουσα ή φθίνουσα σειρά.</li>
<li class="puce">Με τη δραστηριότητα 'Ταξινομώ γράμματα' τα παιδιά εξασκούνται στην ταξινόμηση γραμμάτων με αλφαβητική ή αντίστροφη αλφαβητική σειρά.</li>
<li class="puce">Η δραστηριότητα 'Ταξινομώ προτάσεις' προσφέρει μια ευκαιρία στα παιδιά να εξασκηθούν στην ανάγνωση και τη γραμματική ταξινομώντας τα μέρη μιας πρότασης.</li>
<li class="puce">Η δραστηριότητα 'Θέσεις' διευκολύνει την εκμάθηση όρων για να περιγραφεί η σχετική θέση ενός αντικειμένου.</li>

<br/>
<p>Δραστηριότητες που βελτιώθηκαν:</p>
<li class="puce">Στη δραστηριότητα 'Αναλογικός ηλεκτρισμός' προστέθηκε ένα νέο επίπεδο μάθησης.</li>
<li class="puce">Η δραστηριότητα 'Λαβύρινθος προγραμματισμού' διαθέτει ένα νέο σύνολο δεδομένων με λειτουργίες βρόχων, ενώ και οι εικόνες εκμάθησής του έχουν πλέον μεταφραστεί.</li>
<li class="puce">Οι δραστηριότητες 'Μαγικό καπέλο' διαθέτουν νέα σύνολα δεδομένων για μικρότερα παιδιά.</li>
<li class="puce">Στη δραστηριότητα 'Ηλιακό σύστημα' χρησιμοποιούνται γήινες ημέρες και γήινα έτη ως μονάδες για όλους τους πλανήτες.</li>
<li class="puce">Στις γεωγραφικές δραστηριότητες όλοι οι χάρτες έχουν επανασχεδιαστεί και ενημερωθεί. Προστέθηκαν, επίσης, νέοι χάρτες για κάθε μέρος της Ασίας (Ανατολική, Νοτιοανατολική, Νότια, Κεντρική και Δυτική).</li>
<li class="puce">Νέες εικόνες και οπτικές βελτιώσεις για τις δραστηριότητες: Ανόι, Γράμμα που λείπει, Ανιχνευτής εικόνων, Απλή σχεδίαση, Παιχνίδι Τάνγκραμ και τις δραστηριότητες με χρήματα.</li>
<li class="puce">Διατίθεται μια νέα επέκταση Inkscape για τη δημιουργία χαρτών και παζλ svg (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>... και πολλές άλλες μικρές διορθώσεις και βελτιώσεις.</p>

<br/>

<p>Στον τομέα των μεταφράσεων, το GCompris διαθέτει 33 γλώσσες. Οι 26 από αυτές είναι πλήρως μεταφρασμένες: Αζέρικα, Αλβανικά, Βασκικά, Βρετανικά Αγγλικά, Γαλλικά, Εβραϊκά, Ελληνικά, Εσθονικά, Ινδονησιακά, Ισπανικά, Ιταλικά, Καταλανικά, Καταλανικά Βαλένθιας, Λιθουανικά, Μαλαγιάλαμ, Ολλανδικά, Ουγγρικά, Ουκρανικά, Παραδοσιακά Κινέζικα, Πολωνικά, Πορτογαλικά, Πορτογαλικά Βραζιλίας, Ρουμάνικα, Σλοβένικα, Σουηδικά και Φινλανδικά. Οι 7 από αυτές είναι μερικώς μεταφρασμένες: Βρετονικά (80%), Γερμανικά (96%), Λευκορωσικά (83%), Μακεδονικά (82%), Νορβηγικά (96%), Τουρκικά (76%) και Ρωσικά (76%).</p>

<p>Όπως συνήθως, θα βρείτε τα πακέτα αυτής της νέας έκδοσης για GNU/Linux, Windows, Android, Raspberry Pi και MacOS στη <a href="https://gcompris.net/downloads{{ suffix }}.html">σελίδα λήξεων</a>. Αυτή η ενημέρωση θα είναι σύντομα διαθέσιμη στο Android Play store, στο αποθετήριο F-Droid και στο Windows Store.</p>

<p>Σας ευχαριστούμε όλους, <br/>
Timothée & Johnny</p>{% endblock %}
