{% extends "template/onenews.html" %}
{% set title = 'Випуск GCompris 2.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0.png')"/>

<p>Привіт,<br />
Раді повідомити про випуск GCompris 2.0. Освітнє значення та години веселощів та розваг, які він приносить дітям будь-якого віку, роблять його ідеальним подарунком до радісних новорічних свят.</p>
<p>До складу пакунка включено нові і удосконалені вправи. Нижче наведено резюме щодо внесених змін.</p>

<p>Нові вправи:</p>
<li class="puce">«Дитячу мишку» призначено для початкового вивчення дітьми взаємодії з комп'ютером.</li>
<li class="puce">Оваре — традиційна африканська стратегічна гра. У неї можна зіграти з комп'ютером або з другом чи подругою.</li>
<li class="puce">У грі «Кодування шляху» (абсолютне чи відносне) дітям слід буде вказати набір напрямків, у яких треба рухатися, щоб пройти вказаний шлях у таблиці.</li>
<li class="puce">«Декодування шляху» (абсолютне або відносне) є зворотною вправою. Дітям слід створити шлях за вказаним набором напрямків.</li>
<li class="puce">У «Вивченні кількостей» метою є облік предметів за вказаною кількістю.</li>
<li class="puce">У вправі «Вивчення десяткових чисел» дітям слід буде розділити ціле на частини і познайомитися із поняттям десяткових чисел.</li>
<li class="puce">У вправах «Вивчення десяткового додавання» та «Вивчення десяткового віднімання» використовуються ті самі принципи, що і у вправі «Вивчення десяткових чисел», але у застосуванні до відповідних арифметичних дій.</li>
<li class="puce">За допомогою вправи «Упорядковування чисел» діти зможуть повправлятися в упорядковуванні чисел за зростанням або спаданням.</li>
<li class="puce">За допомогою вправи «Упорядковування літер» діти можуть повправлятися у впорядковуванні літер за абеткою або у зворотному порядку.</li>
<li class="puce">«Упорядковування речень» є кроком вище, на якому діти зможуть повправлятися у читанні та граматиці, упорядковуючи частини речення.</li>
<li class="puce">«Позиції» — вправа на вивчення термінів, які описують відносне розташування об'єкта.</li>

<br/>
<p>Удосконалені вправи:</p>
<li class="puce">Для вправи «Аналогова електрика» приготовано новий набір завдань навчального рівня.</li>
<li class="puce">У «Програмованому лабіринті» додано новий набір даних із циклами, уможливлено переклад картинок у підручнику.</li>
<li class="puce">У вправах «Магічний капелюх» додано нові набори даних для найменших користувачів.</li>
<li class="puce">У вправі «Сонячна систем» використано земні дні і роки для виміру характерних параметрів усіх інших планет.</li>
<li class="puce">У вправі «Географія» було перемальовано і оновлено усі карти з використанням кращих проєкцій і формату svg. Також нами додано нові карти для усіх частин Азії (східної, південно-східної, південної, центральної та західної).</li>
<li class="puce">Нові зображення та візуальні удосконалення для вправ із ханойськими вежами, пропущеними літерами, грошима, фотографіями, простим малюванням та танграмами.</li>
<li class="puce">Нами створено нове розширення Inkscape, яке допоможе у створенні карт і головоломок у форматі svg (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>...а також багато інших менш помітних виправлень і удосконалень.</p>

<br/>

<p>Якщо говорити про переклади, до пакунків GCompis 2.0 включено 33 переклади. Повністю реалізовано підтримку 26 мов: азербайджанської, албанської, баскської, бразильської португальської, британської англійської, каталанської, каталанської (валенсійський діалект), традиційної китайської, нідерландської, естонської, фінської, французької, грецької, івриту, угорської, індонезійської, італійської, литовської, малаялам, польської, португальської, румунської, словенської, іспанської, шведської, турецької та української. Маємо також 7 часткових переклади: німецькою (96%), норвезькою (96%), білоруською (83%), македонською (82%), бретонською (80%), турецькою (76%) і російською (76%).</p>

<p>Як завжди, посилання на пакунки нової версії для GNU/Linux, Windows, Android, Raspberry Pi та MacOS можна знайти на <a href="https://gcompris.net/downloads{{ suffix }}.html">сторінці отримання пакунків</a>. Невдовзі пакунки оновленої версії також з'являться у крамниці Android Play, сховищі F-Droid та крамниці Windows.</p>

<p>Дякуємо вам усім, <br/>
Timothée і Johnny</p>{% endblock %}
