{% extends "template/onenews.html" %}
{% set title = 'Издание на Жикомпри 2.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0.png')"/>

<p>Здраво,<br />
Со задоволство го најавуваме објавувањето на GCompris 2.0. Едукативна игра и часови во забава за деца од сите возрасти - совршен подарок за овие празници.</p>
<p>Содржи многу нови и подобрени активности. Подолу е резиме на вклучените промени.</p>

<p>Нови активности:</p>
<li class="puce">Бебе глушец е за деца кои првпат учат да комуницираат со компјутер.</li>
<li class="puce">Oware е традиционална африканска стратешка игра, може да се игра против компјутер или со пријател.</li>
<li class="puce">Во кодирањето на патеката (апсолутно или релативно) децата треба да дадат сет на насоки за следење на дефинирана патека во мрежа.</li>
<li class="puce">Декодирањето на патеката (апсолутно или релативно) е спротивно. Децата треба да ја креираат патеката што одговара на дефиниран сет на насоки.</li>
<li class="puce">Во Научете количини, целта е да се брои колку ставки се потребни за да се претстави количината.</li>
<li class="puce">Во Научете ги децималните броеви, децата сечат единици на парчиња за да го научат концептот на децимални броеви.</li>
<li class="puce">Научете децимално собирање и Научете децимални одземање ги користат истите принципи како Научете децимални броеви, но овој пат за да ги вежбате овие операции.</li>
<li class="puce">Со Подредување броеви, децата можат да вежбаат подредување броеви во растечки или опаѓачки редослед.</li>
<li class="puce">Со Подредување букви, децата можат да вежбаат да подредуваат букви по азбучен редослед или во обратен редослед.</li>
<li class="puce">Подредувањето реченици е чекор напред во кој децата можат да вежбаат читање и граматика со сортирање делови од реченицата.</li>
<li class="puce">Позиции е активност за учење на термините што ја опишуваат релативната положба на објектот.</li>

<br/>
<p>Подобрени активности:</p>
<li class="puce">Аналогната електрична енергија има нов сет на ниво на упатства.</li>
<li class="puce">Програмскиот лавиринт има нова база на податоци што содржи операции со јамки, а неговите упатства за слики сега се преведени.</li>
<li class="puce">Активностите со магична капа имаат нови збирки податоци за помалите деца.</li>
<li class="puce">Во Сончевиот систем сега ги користиме деновите и годините на Земјата како единица за сите планети.</li>
<li class="puce">Во Географија активноста, сите карти се прецртани и ажурирани, користејќи подобри проекции и во формат svg. Додадовме и нови карти за секој дел од Азија (Источна, Југоисточна, Јужна, Централна и Западна).</li>
<li class="puce">Нови слики и визуелни подобрувања во активностите Ханои, Буква што недостасува, Активности со пари, Ловец на фотографии, Едноставна боја и Танграм.</li>
<li class="puce">Имаме нова екстензија на Inkscape за да помогнеме во креирањето svg мапи и загатки (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>... и уште многу мали поправки и подобрувања.</p>

<br/>

<p>On the translation side, GCompris 2.0 contains 33 languages. 26 are fully translated: (Azerbaijani, Albanian, Basque, Brazilian Portuguese, British English, Catalan, Catalan (Valencian), Chinese Traditional, Dutch, Estonian, Finnish, French, Greek, Hebrew, Hungarian, Indonesian, Italian, Lithuanian, Malayalam, Polish, Portuguese, Romanian, Slovenian, Spanish, Swedish, Ukrainian). 7 are partially translated: (German (96%), Norwegian Nynorsk (96%), Belarusian (83%), Macedonian (82%), Breton (80%), Turkish (76%) and Russian (76%)).</p>

<p>Пакетите од оваа нова верзија за GNU/Linux, Windows и MacOS можете да ги најдете на <a href="https://gcompris.net/downloads{{ suffix }}.html">страната за преземање</a>. Ова ажурирање наскоро ќе биде достапно во продавницата Android Play, складиштето F-Droid и продавницата Windows.</p>

<p>Ви благодариме на сите, <br/>
Timothée & Johnny</p>{% endblock %}
