{% extends "template/onenews.html" %}
{% set title = 'השקת GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>שלום,<br />
 כדי לחגוג 20 שנים לGCompris אנו שמחים להודיע על השקת GCompris בגירסא 1.1.</p>
<p>זוהי הפצת תחזוקהכדי שכל הפצת GNU/Linux שמופצת עם גירסה 1.0 תתעדכן ל־1.1.</p>

<p>הנה תמצית של השינויים הכלולים:</p>
<li class="puce">הגרפיקה עודכנה ב־21 פעילויות.</li>
<li class="puce">תיקנו הרבה באגים.</li>
<li class="puce">נוספה התאמה לאוּבּוּנטו טאצ'.</li>
<li class="puce">תוקן (בגירסה האנגלית) האיות למחוזות בתורכיה.</li>
<li class="puce">הוספנו חבילת .msi מינימלית חלופית לווינדוז.</li>
<li class="puce">חודש הרשיון לקבצי ההרצה של GCompris ל־AGPLv3 בגלל תוספת של פעילות חשמל אנלוגי.</li>
<br/>
<p>בצד התירגומים:</p>
<li class="puce">אלבנית, ביילרוסית, פורטוגזית, ברזילאית, עברית ורוסית הושלמו. יש.</li>
<li class="puce">גאלית אירית ומקדונית חזרו (תרגום חלקי מעל 89% בינתיים).</li>
<li class="puce">פעילויות עם ערכות מילים נוספו לאלבנית ומקדונית.</li>
<li class="puce">כל הקולות נוספו לליטאית.</li>
<br/>

<p>בצד התירגומים יש לנו 27 שפות בתמיכה מלאה: אלבנית, בסקית, ברטון, ברזילאית, אנגלית בריטית, קטלנית, קטלנית ולנסיאנית, סינית מסורתית, הולנדית, צרפתית, יוונית, עברית :) , הונגרית, אינדונזית, איטלקית, מקדונית, מליאלאם, פולנית, פורטוגזית, רומנית, רוסית, סלובנית, ספרדית, שוודית, טורקית ואוקראינית.</p>

<p>ישנן גם 4 שפות שלהם תמיכה חלקית: בילרוסית (85%), פורטוגזית ברזילאית (92%), גרמנית (89%) וליטאית (84%).</p>

<p>ניתן למצוא חבילות לגירסה החדשה הזו לגנוּ/לינוֹקס, וווינדווס, MacOS ורספברי פאי ב<a href="https://gcompris.net/downloads{{ suffix }}.html">דף ההורדה</a>.</p>

<p>תודה רבה לכולכם, <br/>
תימוט'י וְג'וֹני</p>{% endblock %}
