{% extends "template/onenews.html" %}
{% set title = 'Versione GCompris 2.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0.png')"/>

<p>Ciao,<br />
siamo lieti di annunciare il rilascio di GCompris 2.0. Il valore educativo e le ore di svago e divertimento che offre ai bambini di tutte le età lo rendono il regalo perfetto per queste festività.</p>
<p>Contiene molte attività nuove e migliorate. Di seguito è riportato un riepilogo delle modifiche incluse.</p>

<p>Nuove attività:</p>
<li class="puce">Baby mouse è per i bambini che imparano a interagire con un computer per la prima volta.</li>
<li class="puce">Oware è un tradizionale gioco di strategia africano, può essere giocato contro il computer o con un amico.</li>
<li class="puce">Nella codifica del percorso (assoluta o relativa) i bambini devono fornire una serie di indicazioni per seguire un percorso definito in una griglia.</li>
<li class="puce">La decodifica del percorso (assoluta o relativa) è l'opposto. I bambini devono creare il percorso corrispondente a un insieme definito di direzioni.</li>
<li class="puce">In Impara le quantità, l'obiettivo è contare quanti elementi sono necessari per rappresentare una quantità.</li>
<li class="puce">In Impara i numeri decimali, i bambini tagliano le unità in pezzi per imparare il concetto di numeri decimali.</li>
<li class="puce">Impara le addizioni decimali e Impara le sottrazioni decimali usano gli stessi principi di Impara i numeri decimali, ma questa volta per esercitarti con queste operazioni.</li>
<li class="puce">Con Ordinare i numeri, i bambini possono esercitarsi a ordinare i numeri in ordine crescente o decrescente.</li>
<li class="puce">Con Ordinare le lettere, i bambini possono esercitarsi a ordinare lettere in ordine alfabetico o in ordine inverso.</li>
<li class="puce">Ordinare le frasi è un passo avanti in cui i bambini possono esercitarsi nella lettura e nella grammatica riordinando parti di una frase.</li>
<li class="puce">Posizioni è un'attività per apprendere i termini che descrivono la posizione relativa di un oggetto.</li>

<br/>
<p>Attività migliorate:</p>
<li class="puce">L'elettricità analogica ha una nuova serie di livelli della guida.</li>
<li class="puce">Labirinto di programmazione ha un nuovo insieme di dati contenente operazioni sui cicli e le immagini della sua guida sono ora tradotte.</li>
<li class="puce">Le attività di Cappello magico hanno un nuovo insieme di dati per i bambini più piccoli.</li>
<li class="puce">In Sistema solare ora usiamo i giorni e gli anni della Terra come unità per tutti i pianeti.</li>
<li class="puce">Nelle attività Geografia, tutte le mappe sono state ridisegnate e aggiornate, utilizzando proiezioni migliori e in formato svg. Abbiamo anche aggiunto nuove mappe per ogni parte dell'Asia (est, sud-est, sud, centro e ovest).</li>
<li class="puce">Nuove immagini e miglioramenti visivi per le attività Hanoï, Lettera mancante, Attività di denaro, Cacciatore di foto, Pittura semplice e Tangram.</li>
<li class="puce">Abbiamo una nuova estensione Inkscape per aiutare a creare mappe e puzzle svg (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>... e molte altre piccole correzioni e miglioramenti.</p>

<br/>

<p>Per quanto riguarda le traduzioni, GCompris 2.0 si presenta con 33 lingue. 26 sono completamente tradotte: (albanese, basco, portoghese brasiliano, inglese britannico, catalano, catalano (valenziano), cinese tradizionale, olandese, estone, finlandese, francese, greco, ebraico, ungherese, indonesiano, italiano, lituano, malayalam, polacco, portoghese, rumeno, russo, sloveno, spagnolo, svedese, turco, ucraino). 7 sono parzialmente tradotte: (tedesco (96%), norvegese nynorsk (96%), bielorusso (83%), macedone (82%), bretone (80%), turco (76%) e russo (76%)).</p>

<p>Come sempre, puoi trovare i pacchetti di questa nuova versione per GNU/Linux, Windows, Android, Raspberry Pi e macOS sulla <a href="https://gcompris.net/downloads{{ suffix }}.html">pagina Scarica</a>. Questo aggiornamento sarà inoltre disponibile presto nel Play Store di Android, nel deposito di F-Droid e nel Windows Store.</p>

<p>Grazie a tutti, <br/>
Timothée & Johnny</p>{% endblock %}
