{% extends "template/onenews.html" %}
{% set title = 'השקת GCompris 2.0' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r2.0-he.png' class='col-xs-12 col-md-4' alt='gcompris 2.0'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r2.0-he.png')"/>

<p>שלום,<br />
 אנחנו שמחים להכריז על השיחרור של חבילת ג'יקומפריס GCompris 2.0. הערך החינוכי ושעות ההנאה והשעשוע המוענקים לילדים/ות בכל הגילאים הופכים אותה למתנה המושלמת לעונת החגים.</p>
<p>היא מכילה הרבה פעילויות חדשות ומשופרות. מתחת מופיעה תמצית של השינויים הכלולים.</p>

<p>פעילויות חדשות:</p>
<li class="puce">עכבר תינוקות נועדה לילדים/ות שלומדים/ות להפעיל את המחשב בפעם הראשונה.</li>
<li class="puce">אֹוָּרֶה (Oware) הוא משחק אסטרטגיה אפריקאי מסורתי, ניתן לשחק בו נגד המחשב או עם חבר/ה.</li>
<li class="puce">ב'לקודד נתיב' (יחסי או מוחלט) ילדים/ות צריכים/ות לתת הוראות למעבר בנתיב מוגדר על הרשת.</li>
<li class="puce">ב'לפענח נתיב' (מוחלט או יחסי) עושים ההפך. הילדים/ות צריכים ליצור את הנתיב לפי ההוראות.</li>
<li class="puce">ב'ללמוד כמויות' המטרה היא לספור כמה פרייטים נדרשים כדי לייצג כמות.</li>
<li class="puce">בלימוד מספררים עשרוניים ילדים/ות חותכים/ות יחידות לחתיכות כדי ללמוד את הרעיון של מספרים עשרוניים.</li>
<li class="puce">'ללמוד חיסור עשרוני' ו'ללמוד חיבור עשרוני' משתמשים באותם עקרונות כמו 'ללמוד מספרים עשרוניים', הפעם כדי להתאמן על הפעולות האלו.</li>
<li class="puce">ב'לסדר מספרים' ילדים/ות יכולים/ות להתאמן בלסדר מספרים בסדר עולה ויורד.</li>
<li class="puce">ב'לסדר אותיות' יתאמנו הילדים/ות בסידור אותיות בסדר אלפביתי או בסדר הפוך.</li>
<li class="puce">'לסדר משפטים' הוא צעד קדימה בו ילדים/ות מתאמנים/ות בקריאה ודקדוק על-ידי בירור של חלקים במשפט.</li>
<li class="puce">'מיקומים' היא פעילות ללימוד המושגים המתארים את המיקום היחסי של חפץ.</li>

<br/>
<p>פעילויות ששופרו:</p>
<li class="puce">ל'חשמל אנלוגי' יש ערכה חדשה של שלב ההוראות.</li>
<li class="puce">ל'מבוך תיכנות' יש ערכה חדשה המכילה הליכים מעגליים ותמונות ההוראות שלו תורגמו.</li>
<li class="puce">פעילות 'כובע קסמים' מכילה אוסף דמויות חדש לילדים/ות צעירים/ות יותר.</li>
<li class="puce">ב'מערכת השמש' אנחנו משתמשים עכשיו בימים ושנים של כדור הארץ כיחידת המידה לכל הכוכבים.</li>
<li class="puce">בפעילויות הגאוגרפיה כל המפות צוירו מחדש ועודכנו תוך שימוש בהקרנות טובות יותר ובפורמט svg. הוספנו גם מפות חדשות לכל חלק באסיה (מזרח, דרום מזרח, דרום, מרכז ומערב).</li>
<li class="puce">דמויות חדשות ושיפורים ויזואלים לפעילות של 'מגדלי האנוי', אותיו חסרות, פעילויות כסף, צייד התמונות, צבע פשוט וטנגרם.</li>
<li class="puce">יש לנו תוספת חדשה לאינקסקייפ כדי לעזור ליצור מפות ופאזלים בSVG (https://invent.kde.org/education/gcompris/-/tree/master/tools/inkscape).</li>
<p>...ועוד הרבה תיקונים ושיפורים קטנים.</p>

<br/>

<p>בצד התירגומים ג'יקומפריס 2.0 כוללת 33 שפות. 26 בתמיכה מלאה:אזרביז'נית, אלבנית, בסקית, פורטוגזית ברזילאית, ברטון, אנגלית בריטית, קטלנית, קטלנית ולנסיאנית, סינית מסורתית, הולנדית, צרפתית, אסטונית, יוונית, עברית :) , הונגרית, אינדונזית, איטלקית, מליאלאם, פולנית, פורטוגזית, רומנית, סלובנית, ספרדית, שוודית, ואוקראינית. 7 מתורגמות באופן חלקי: גרמנית (96%), נינורסק נורווגי (96%), ביילרוסית (83%), מקדונית (82%), ברטון (80%), תורכית (76%) ורוסית (76%).</p>

<p>כרגיל, ניתן למצוא חבילות לגירסה החדשה הזו לגנוּ/לינוֹקס, וווינדווס, MacOS ורספברי פאי ב<a href="https://gcompris.net/downloads{{ suffix }}.html">דף ההורדה</a>.</p>

<p>תודה רבה לכולכם/ן, <br/>
תימוט'י וְג'וֹני</p>{% endblock %}
