{% extends "template/onenews.html" %}
{% set title = 'Utgivning av GCompris 1.1' %}
{% set withlongcontent = 0 %}
{% block content %}
<img src='{{ newsFolder }}images/r1.1-small.png' class='col-xs-12 col-md-4' alt='gcompris 1.1'     style='float: right; padding-left: 10px; cursor: pointer;' onclick="window.open('{{ newsFolder }}images/r1.1.png')"/>

<p>Hej,<br />
Vi är glada att tillkännage utgivningen av GCompris version 1.1.</p>
<p>Det är en underhållsutgåva, så alla GNU/Linux-distributioner som levererar 1.0 bör uppgradera till 1.1.</p>

<p>Här är en sammanfattning av ingående ändringar:</p>
<li class="puce">Grafiken har uppdaterats för 21 aktiviteter.</li>
<li class="puce">Vi har rättat många fel.</li>
<li class="puce">Ett bygge för Ubuntu Touch har lagts till.</li>
<li class="puce">Stavningen av turkiska distrikt har rättats.</li>
<li class="puce">Vi har lagt till ett minimalt .msi alternativpaket för Windows.</li>
<li class="puce">Licensen för GCompris körbara program har ändrats till AGPLv3 på grund av ett beroende för analog elektricitet.</li>
<br/>
<p>På översättningssidan:</p>
<li class="puce">Albanska, brasiliansk portugisiska, ryska och vitryska har färdigställts.</li>
<li class="puce">Iriska och makedonska är tillbaka (partiell översättning nu över 80 %).</li>
<li class="puce">Orduppsättning för ordförrådsaktiviteter har lagts till för albanska och makedoniska.</li>
<li class="puce">Alla röster har lagts till för litauiska.</li>
<br/>

<p>På översättningssidan har vi nu fullständigt stöd för 27 språk: albanska, baskiska, brasiliansk portugisiska, bretonska, brittisk engelska, franska, galiciska, grekiska, hebreiska, holländska, indonesiska, italienska, katalanska, katalanska (valencianska), makedonska, malayalam, polska, portugisiska, rumänska, ryska, slovenska, spanska, svenska, traditionell kinesiska, vitryska, ukrainska, ungerska.</p>

<p>Vi har också fyra språk som delvis stöds: iriska (87 %), litauiska (96 %), nynorska (85 %) och tyska (91 %).</p>

<p>Paket av den nya versionen för GNU/Linux, Windows och MacOS finns på <a href="https://gcompris.net/downloads{{ suffix }}.html">nerladdningssidan</a>. Uppdateringen kommer också snart att vara tillgänglig i Android Play Store, F-Droid arkivet och Windows Store. Paketet för Raspberry Pi är också snart tillgängligt.</p>

<p>Tack allesamman, <br/>
Timothée och Johnny</p>{% endblock %}
