{% extends "template/base.html" %}
{% set page = 'donate' %}
{% set title = _('Donate') + " - GCompris" %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class="container bs-docs-container">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div id="donation" class="newstitle" style="float: left; text-align: left;">{% trans %}Donate{% endtrans %}</div>
	      <div style="clear: both;"></div>
	      <div class="newscontent">
	        <p>{% trans %}You, your children or your school love GCompris. You can support the project with a donation.{% endtrans %}</p>
	        <p>{% trans %}Developing software takes a lot of time, it needs hardware, and other requirements that have a cost.{% endtrans %}</p>
	        <br/>
	        <p>{% trans %}If you want to support the development of GCompris in a sustainable way, please become a patron of GCompris on Patreon:{% endtrans %}</p>
            <a class="patreonlink" href="https://www.patreon.com/join/animtim?">
              <span>☀ {% trans %}Become a Patron{% endtrans %}</span>
            </a>
	        <br/>
	        <p>{% trans %}Also, you can donate the amount of your choice to KDE:{% endtrans %}</p>
	        <p><a href="https://kde.org/community/donations/">{% trans %}Donate to KDE{% endtrans %}</a></p>
	        <br/>
	        <p>{% trans %}Thanks for supporting Free Software in education.{% endtrans %}</p>
	        <br/>
            <div>
              <div id="patreon" class="newstitle" style="float: left; text-align: left;">{% trans %}Patreon{% endtrans %}</div>
              <div style="clear: both;"></div>
              <div class="newscontent">
                <p style="font-size: x-large;">{% trans %}Thanks to everyone supporting GCompris on Patreon!{% endtrans %}</p>
                <br/>
                <img class="patreoncards" src="images/patreon-companies.png"/>
                <p class="patronslist" style="font-size: large;"><img src="images/handsfree.png"/><br />
                    ☀ <br />
                    The Baiel Family</p> <!-- The Baiel Family is for Zachary-->
                <img class="patreoncards" src="images/patreon-dragons.png"/>
                <p class="patronslist" style="font-size: large;">Alexey Vazhnov ☀ Artem Ivanov ☀ Federico Sogaro ☀ Patrick Nafarrete ☀ Sebastian Beschke ☀ Sebastian Tur</p>
                <img class="patreoncards" src="images/patreon-pandas.png"/>
                <p class="patronslist" style="font-size: medium;">Albert Astals Cid ☀ Alexander Riethmüller ☀ Aman Kumar Gupta ☀ Cyrille Largillier ☀ Ilya Diallo ☀ Karl Ove Hufthammer ☀ omare ☀ PlayKodo - Aprendizaje Digital ☀ roman_the_ant ☀ Stephen Paul Weber</p>
                <img class="patreoncards" src="images/patreon-cats.png"/>
                <p class="patronslist" style="font-size: small;">Alexandre Coulot ☀ Ali Nasser Alawaji ☀ egorguslyan ☀ Errepunto ☀ Fahad ☀ Jean Domas ☀ Matias Lavik ☀ Sebastian Blei ☀ Scott D'Vileskis ☀ Silviu Marin-Caea ☀ Simon Chatain ☀ svuorela</p>
              </div>
            </div>
	        <br/><br/>
	        <img class="col-xs-12 col-md-12" src="images/gcompris_thank_you.png" alt="GCompris Thank-you">
	        <br/><br/>
	      </div>
	    </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
