{% extends "template/base.html" %}
{% set page = 'downloads' %}
{% set title = _('Download') + " - GCompris" %}
{% block content %}
<div class="container bs-docs-container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="bigtitle2">{% trans %}Download{% endtrans %}</h1>
      <a class="patreonlink" href="https://www.patreon.com/join/animtim?">
          <span>☀ {% trans %}Become a Patron{% endtrans %}</span>
      </a>
      <div class="container bs-docs-container" id="windows">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Windows{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can install GCompris <a href="https://www.microsoft.com/en-us/store/p/gcompris/9pgxjtcxn8qm">from the Windows Store</a>.{% endtrans %}</p>
	      <p>{% trans %}Note: the Windows Store requires Windows 10.{% endtrans %}</p>
	      <br/>
	      <p>{% trans %}Else, you can download the installer from the links below.{% endtrans %}</p>
	      <p>{% trans %}System requirements: Windows 7, 8 or 10 with OpenGL 2 support.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/windows/gcompris-qt-{{ version }}-win64-gcc.exe">GCompris {{ version }}-Windows 64bit</a></li>
          <li class="puce"><a href="https://gcompris.net/download/qt/windows/gcompris-qt-{{ version }}-win32-gcc.exe">GCompris {{ version }}-Windows 32bit</a></li>
          </pre>
          <p>{% trans %}Note: If your system doesn't have OpenGL 2 support or if it's not working properly, please use the entry GCompris (Safe Mode) in the start menu to launch GCompris with the software rendering mode which doesn't use OpenGL.{% endtrans %}</p>
          <p>{% trans %}If you really need a version that runs on Windows XP, or if your system doesn't support the new version, you can use the last installer from the old GCompris 15.10.{% endtrans %}</p>
          <pre>
	      <li class="puce"><a href="https://gcompris.net/download/gtk/windows/gcompris-15.10.exe">GCompris 15.10-Windows 32bit</a></li>
	      </pre>
	      <p>{% trans %}To enable all the activities in this old version, you can use the code 200202 in the entry box that contains the word CODE when you start the application.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="container bs-docs-container" id="android">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Android{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The version for Android is distributed in the Play Store.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://play.google.com/store/apps/details?id=net.gcompris.full">GCompris {{ version }} for Android</a></li>
          </pre>
          <p>{% trans %}We support both android 32bit and 64bit from the Play Store. The appropriate version is downloaded automatically depending on your Android operating system.{% endtrans %}</p>
          <br/>
          <p>{% trans %}WARNING: For Android version 4.4.2, it is recommended to directly download and install manually <a href= "https://gcompris.net/download/qt/android/GCompris-Android-release-signed-aligned-armeabi-v7a-dl-0.95.apk">GCompris version 0.95 from our website</a>, as the version 0.96 from the Play Store will not be able to download external assets with this Android version.{% endtrans %}</p>
          <br/>
           <p>{% trans %}GCompris is also available from F-Droid, the Free and Open Source Android app repository.{% endtrans %}<br/>
	      <pre>
	      <li class="puce"><a href="https://f-droid.org/en/packages/net.gcompris.full/">GCompris {{ version }} from F-Droid</a></li>
          </pre>
          <br/>
          <p>{% trans %}You can also directly download the apk from our website to install it manually on your device.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/android/GCompris-Android-release-signed-aligned-armeabi-v7a-dl-{{ version }}.apk">GCompris {{ version }} apk for Android 32bit</a></li>
	      <li class="puce"><a href="https://gcompris.net/download/qt/android/GCompris-Android-release-signed-aligned-arm64-v8a-dl-{{ version }}.apk">GCompris {{ version }} apk for Android 64bit</a></li>
          </pre>
	    </div>
	  </div>
	</div>
      </div>

      <div class="container bs-docs-container" id="osx">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}macOS{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can get the macOS version from the link below.{% endtrans %}</p>
	      <p>{% trans %}Built and tested on macOS 10.13.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/macos/gcompris-qt-{{ version }}-Darwin.dmg">GCompris {{ version }}-Darwin</a></li>
	      </pre>
	    </div>
	  </div>
	</div>
      </div>

      <div class="container bs-docs-container" id="linux">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}GNU/Linux{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}You can check if your distribution provides a package for the latest version of GCompris.{% endtrans %}</p>
	      <p>{% trans %}We also provide standalone packages for GNU/Linux. They should work on any recent distribution.{% endtrans %} {% trans %}System requirements:{% endtrans %} linux kernel 3.10, glibc 2.17, pulseaudio, gstreamer 1.0.</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux64.sh">GCompris {{ version }}-Linux 64bit</a></li>
          <li class="puce"><a href="https://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux32.sh">GCompris {{ version }}-Linux 32bit</a></li>
          </pre>
          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
          <pre>
          <p>chmod u+x gcompris-qt-{{ version }}-Linux64.sh</p>
          <p>./gcompris-qt-{{ version }}-Linux64.sh</p>
	      </pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	      <p>{% trans %}Note: If your system doesn't have OpenGL 2 support or if it's not working properly, please add the option "--software-renderer" at the end of the last line of the script gcompris-qt.sh. Another way is to edit the configuration file (in ~/.config/gcompris-qt/gcompris-qt.conf): find the line renderer=auto , replace auto with software and save the file.{% endtrans %}</p>
	      <p>{% trans %}Alternatively, you can install GCompris from <a href="https://flathub.org/apps/details/org.kde.gcompris">Flathub</a> or from the <a href="https://snapcraft.io/gcompris">Snap store</a>.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>


      <div class="container bs-docs-container" id="rpi">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Raspberry Pi{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}We provide a standalone package for Raspberry Pi.{% endtrans %} {% trans %}It was tested only on Raspberry Pi 3.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/raspberrypi/gcompris-qt-{{ version }}-Raspberry.sh">GCompris {{ version }}-Raspberry Pi 3</a></li>
          </pre>
          <p>{% trans %}To use it, open a terminal in the folder where you downloaded the installer and run these commands:{% endtrans %}</p>
          <pre>
          <p>chmod u+x gcompris-qt-{{ version }}-Raspberry.sh</p>
          <p>./gcompris-qt-{{ version }}-Raspberry.sh</p>
	      </pre>
	      <p>{% trans %}Then read the license or press q to skip it, answer yes to the questions, and the software will be installed in a new folder next to the installer.{% endtrans %}</p>
	      <p>{% trans %}Finally, to launch gcompris, go in the new folder, in bin, and double-click on gcompris-qt.sh.{% endtrans %}</p>
	    </div>
	  </div>
	</div>
      </div>

      <div class="container bs-docs-container" id="source">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}Source code{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}The source code is available under the AGPLv3 license.{% endtrans %}</p>
	      <pre>
	      <li class="puce"><a href="https://gcompris.net/download/qt/src/gcompris-qt-{{ version }}.tar.xz">GCompris {{ version }}-source code</a></li>
          </pre>
	    </div>
	  </div>
	</div>
      </div>

          <div class="container bs-docs-container">
	<div class="row news">
	  <div class="col-xs-12 col-md-12">
	    <div>
	      <div class="newstitle" style="float: left; text-align: left;">{% trans %}MD5 and GPG{% endtrans %}</div>
	    </div>
	    <div style="clear: both;"></div>
	    <div class="newscontent">
	      <p>{% trans %}To check the integrity of your downloads, you can compare the md5sums with those in this file: <a href="https://gcompris.net/download/qt/md5sums-{{ version }}.txt">MD5SUMS</a>{% endtrans %}</p>
	      <p>{% trans %}The source tarball and the Linux installers are signed with the GPG key from Timothée Giet (public key: {% endtrans %}<a href="https://collaborate.kde.org/s/8GpWjyHg5xBTQFS">0x63d7264c05687d7e.asc</a>)</p>
	      <pre>
	      <p>{% trans %}sig files:{% endtrans %}</p>
	      <li class="puce"><a href="https://gcompris.net/download/qt/src/gcompris-qt-{{ version }}.tar.xz.sig">GCompris {{ version }}-source code</a></li>
	      <li class="puce"><a href="https://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux64.sh.sig">GCompris {{ version }}-Linux 64bit</a></li>
          <li class="puce"><a href="https://gcompris.net/download/qt/linux/gcompris-qt-{{ version }}-Linux32.sh.sig">GCompris {{ version }}-Linux 32bit</a></li>
          </pre>
	    </div>
	  </div>
	</div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
 
