{% extends "template/base.html" %}
{% set page = 'index' %}
{% set title = _('GCompris Educational Software') %}
{% block head %}
    {{ super() }}
    <script type="text/javaScript">
      window.onload = function()
      {
        windowsURL = "downloads{{ suffix }}.html#windows";
        macURL = "downloads{{ suffix }}.html#osx";
        linuxURL = "downloads{{ suffix }}.html#linux";
        androidURL = "downloads{{ suffix }}.html#android";
        if ( (/^Windows/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = windowsURL;
          document.getElementById("downloadOS").innerHTML = "Windows";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innerHTML = "{% trans %}Version {{version}}{% endtrans %}";
          document.getElementById("otherDownloadOS0Link").href = androidURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "macOS";
          document.getElementById("otherDownloadOS2Link").href = linuxURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "GNU/Linux";
        } else if ( (/(Mac|OS X)/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = "downloads{{ suffix }}.html#osx";
          document.getElementById("downloadOS").innerHTML = "macOS";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innerHTML = "";
          document.getElementById("otherDownloadOS0Link").href = androidURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS1Link").href = windowsURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS2Link").href = linuxURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "GNU/Linux";
        } else if ( (/^Android/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = androidURL;
          document.getElementById("downloadOS").innerHTML = "Android";
          document.getElementById("downloadButtonImg").src = "downloadAndroid.png";
          document.getElementById("downloadDetails").innerHTML = "";
          document.getElementById("otherDownloadOS0Link").href = windowsURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "macOS";
          document.getElementById("otherDownloadOS2Link").href = linuxURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "GNU/Linux";
        } else if ( (/^iOS/).test(platform.os.family)) {
          document.getElementById("downloadButton").href = "downloads{{ suffix }}.html";
          document.getElementById("downloadOS").innerHTML = "";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innerHTML = "";
          document.getElementById("otherDownloadOS0Link").href = windowsURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS1Link").href = macURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "macOS";
          document.getElementById("otherDownloadOS2Link").href = linuxURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "GNU/Linux";
        } else {
          document.getElementById("downloadButton").href = linuxURL;
          document.getElementById("downloadOS").innerHTML = "GNU/Linux";
          document.getElementById("downloadButtonImg").src = "downloadGCompris.png";
          document.getElementById("downloadDetails").innerHTML = "{% trans %}Version {{version}}{% endtrans %}";
          document.getElementById("otherDownloadOS0Link").href = androidURL;
          document.getElementById("otherDownloadOS0Link").innerHTML = "Android";
          document.getElementById("otherDownloadOS1Link").href = windowsURL;
          document.getElementById("otherDownloadOS1Link").innerHTML = "Windows";
          document.getElementById("otherDownloadOS2Link").href = macURL;
          document.getElementById("otherDownloadOS2Link").innerHTML = "macOS";
        }
      }
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
      $('.carousel').carousel({
      interval: 3000
      });
      $('.carousel').carousel('cycle');
      });
</script>
{% endblock %}
{% block content %}
<div class="container bs-docs-container">
    <div class="col-xs-12 col-md-6">
      <div class="row" style="width: 100%; margin: 0 auto">
	    <div>
	      <a class= "col-xs-12" id="downloadButton">
	       <img id="downloadButtonImg" alt="{% trans %}Download GCompris{% endtrans %}" src="empty.png" style="position: absolute; top: -10px; left: -5px;"/>
	       <span class="downloadText">{% trans %}Download GCompris{% endtrans %}</span>
	       <span id="downloadDetails" style="font-size: 12px; color: white;"></span>
	       <span id="downloadOS"></span>
	      </a>
	    </div>
      </div>
      <div class="col-xs-12" style="width: 100%; margin: 0 auto; text-align: center">
	    <a class="extraDlLink" id="otherDownloadOS0Link"></a>
	    <a class="extraDlLink" id="otherDownloadOS1Link"></a>
	    <a class="extraDlLink" id="otherDownloadOS2Link"></a>
	    <a class="extraDlLink" href="downloads{{ suffix }}.html">{# notes other platform #}{% trans %}All{% endtrans %}</a>
      </div>
      <div style="margin-top: 10px; margin-bottom: 40px">
        <div id="carousel" class="carousel slide" style="width: 100%; margin: 0 auto">
	  <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#carousel" data-slide-to="0" class="active"></li>
	        <li data-target="#carousel" data-slide-to="1"></li>
	        <li data-target="#carousel" data-slide-to="2"></li>
	        <li data-target="#carousel" data-slide-to="3"></li>
	        <li data-target="#carousel" data-slide-to="4"></li>
	        <li data-target="#carousel" data-slide-to="5"></li>
	        <li data-target="#carousel" data-slide-to="6"></li>
	        <li data-target="#carousel" data-slide-to="7"></li>
	      </ol>

	  <!-- Wrapper for slides -->
	      <div class="carousel-inner">
	        <div class="item active">
	          <img src="screenshots_qt/small/erase.png" alt="screenshot clic or tap" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Click or tap{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/advanced_colors.png" alt="screenshot colors" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Identify colors{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/clockgame.png" alt="screenshot learning clock" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Learn clock{% endtrans %}</h3>
              </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/wordsgame.png" alt="screenshot keyboard" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Keyboard training{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/magic-hat-plus.png" alt="screenshot addition" style="margin: 0 auto">
	          <div class="carousel-caption">
		    <h3 class="carousel-text">{% trans %}Learn additions{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/watercycle.png" alt="screenshot watercycle" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Discover the watercycle{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/chess_2players.png" alt="screenshot chess" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Play chess against your friend{% endtrans %}</h3>
	          </div>
	        </div>
	        <div class="item">
	          <img src="screenshots_qt/small/click_on_letter.png" alt="screenshot click on a lower case letter" style="margin: 0 auto">
	          <div class="carousel-caption">
		        <h3 class="carousel-text">{% trans %}Click on a lowercase letter{% endtrans %}</h3>
	          </div>
	        </div>
	      </div>
	  <!-- Controls -->
	      <a class="left carousel-control" href="#carousel" data-slide="prev">
	        <span class="icon-prev"></span>
	      </a>
	      <a class="right carousel-control" href="#carousel" data-slide="next">
	        <span class="icon-next"></span>
	      </a>
	      <a class="extraInfoLink" href="screenshots{{ suffix }}.html">{% trans %}View all screenshots{% endtrans %}</a>
	    </div>
      </div>
      <a class="patreonlink" href="https://www.patreon.com/join/animtim?">
          <span>☀ {% trans %}Become a Patron{% endtrans %}</span>
      </a>
    </div>
    <div class="col-xs-12 col-md-6 news">
      <img class="indexProjectImg" alt="Large GCompris Logo" src="middleGComprisLogo.png"/>
      <h1 class="bigtitle">GCompris</h1>
      <div class="projectDescription"><p>{% trans %}GCompris is a high quality educational software suite, including a large number of activities for children aged 2 to 10.{% endtrans %}</p>
	<p>{% trans %}Some of the activities are game orientated, but nonetheless still educational.{% endtrans %}</p>
	<p>{% trans %}Here is the list of activity categories with some examples:{% endtrans %}</p>
	<ul>
	  <li class="puce">{% trans %}computer discovery: keyboard, mouse, touchscreen ...{% endtrans %}</li>
	  <li class="puce">{% trans %}reading: letters, words, reading practice, typing text ...{% endtrans %}</li>
	  <li class="puce">{% trans %}arithmetic: numbers, operations, table memory, enumeration, double entry table ...{% endtrans %}</li>
	  <li class="puce">{% trans %}science: the canal lock, the water cycle, renewable energy ...{% endtrans %}</li>
	  <li class="puce">{% trans %}geography: countries, regions, culture ...{% endtrans %}</li>
	  <li class="puce">{% trans %}games: chess, memory, align 4, hangman, tic-tac-toe ...{% endtrans %}</li>
	  <li class="puce">{% trans %}other: colors, shapes, Braille, learn to tell time ...{% endtrans %}</li>
	</ul>
	<p>{% trans %}Currently GCompris offers more than 100 activities, and more are being developed. GCompris is free software, it means that you can adapt it to your own needs, improve it, and most importantly share it with children everywhere.{% endtrans %}</p>
	<p>{% trans %}The GCompris project is hosted and developed by <a target="_blank" rel="noopener" href="https://www.kde.org/">the KDE community</a>.{% endtrans %}</p>
      </div>
    </div>
  
</div>
<hr class="featurette-divider"/>
<a href="http://www.gcompris.net/feed-{{ locale }}.xml"><img class="rssIcons" src="images/rss-gcompris-48.png"></a>
<h1 class="bigtitle2">{% trans %}Latest news{% endtrans %}</h1>
{% for onenews in news %}
  {%- if loop.index <= 2 %}{{ onenews }}{% endif %}
{% endfor %}
<a class="extraInfoLink" href="news{{ suffix }}.html">{% trans %}All the news{% endtrans %}</a>
{% endblock %}
