
body {
    background-color: #efefef;
    font-family: Arial, "Noto Sans Malayalam";
}
a {
    color: #e05f0f;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding: 0 0 0 0;
}
h1 {
    color: #000000;
    font-size: 30px;
    margin-top: 24px;
}
h1.bigtitle {
    border-bottom: 2px solid #e77935;
    font-family: 'Ruluko', "Noto Sans Malayalam", sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h1.bigtitle2 {
    font-family: 'Ruluko', "Noto Sans Malayalam", sans-serif;
    font-size: 55px;
    letter-spacing: -0.04em;
    margin-left: -5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 2px;
    margin-top: 10px;
}
.extraDlLink {
    display: inline-block;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
}
.extraInfoLink {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
}
.extraInfoLink:hover {
    float: left;
    font-size: 13px;
    padding-right: 40px;
    padding-top: 10px;
    text-decoration: underline;
}
.rssIcons {
    float: right;
}
#downloadButton {
    color: white;
    background-color: #6fb734;
    border: 1px solid white;
    border-radius: 12px;
    box-shadow: 0 0 6px #888888;
    clear: both;
    color: #FFFFFF;
    float: left;
    margin-top: 10px;
    padding: 15px 15px 15px 90px;
    position: relative;
}
#downloadButton:hover {
    text-decoration: none;
    background-color: #84CC48;
}
#downloadDetails {
    color: #FFFFFF;
    padding-left: 3px;
}
.downloadText {
    color: white;
    display: block;
    font-family: "trebuchet MS",Arial,"Noto Sans Malayalam", "Sans-Serif";
    font-size: 30px;
    letter-spacing: 0.03em;
    line-height: 32px;
    padding-bottom: 6px;
}
.patreonlink {
    display: block;
    width: 70%;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    margin: 20px auto 20px auto;
    padding: 8px 12px 8px 12px;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.15rem;
    background: linear-gradient(to right, #D79B35, #E77935);
    border-radius: 2px;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
    box-shadow: 0 2px 0px 0px rgba(0,0,0,0.3);
}
.patreonlink:hover {
    filter: brightness(1.2);
    transition: all 0.2s ease-in;
}
.patreonlink span {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
}
.patreoncards {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #e77935;
}
.patronslist {
  text-align: center;
  padding-top: 10px;
  background: #fff;
  box-shadow: 0px 0px 5px #e77935;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
}
.smallProjectImg {
    float: left;
    padding-left: 7px;
    padding-right: 23px;
}
.indexProjectImg {
    float: right;
    padding: 3px 0 3px 0;
}
.projectScreenshot {
    clear: both;
    display: block;
    padding-top: 26px;
    width: 414px;
    height: 189px;
}
.screenshotImg {
    float: left;
    padding-left: 100px;
    width: 500px;
    height: 260px;
}
.screenshotStar {
    position: absolute;
    left: 490px;
    top: 10px;
}
.screenshotPay {
    position: absolute;
    left: 480px;
    top: 60px;
}
.screenshotDivAuthor {
    width: 500px;
    padding-bottom: 25px;
}
.screenshotAuthor {
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 12px;
    float: right;
    text-align: right;
}
.screenshotSection {
    margin: 0;
    color: rgb(153, 153, 153);
    font-size: 12px;
    float: left;
    text-align: left;
}
.screenshotIcon {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 10px;
}
.projectImg {
    clear: both;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 164px;
    height: 144px;
}
.footer {
    text-align: center;
}
.puce {
  display: list-item;
  list-style-image: url(puce.gif);
  list-style: disc outside none;
  margin-left: 14px;
}
.news {
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.newstitle {
    font-weight: bold;
    font-size: 16px;
}
.newsdate {
    color: rgb(153, 153, 153);
    font-size: 12px;
    padding-bottom: 10px;
}
.newscontent {
    border-top: 2px solid #e77935;
    padding-top: 10px;
    text-align: justify;
}
.screenshot1 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot3 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.screenshot {
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
  padding-top: 12px;
  padding-bottom: 12px;
}
.screenshotmenu1 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffedd3;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu2 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffe4bb;
  box-shadow: 0px 0px 5px #555;
}
.screenshotmenu3 {
  border: 2px solid #999;
  border-radius: 5px;
  background: #ffd89c;
  box-shadow: 0px 0px 5px #555;
}
.navbar-header {
}
.active {
  border-bottom: 3px solid #e77935;
}
.non-active {
}
.featurette-divider {
  border: 1px solid #e77935;
  background: #e77935;
  box-shadow: 1px 1px 1px #888;
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
}
.bs-docs-sidenav > li > a {
  color: #000;
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #666;
}
/*.bs-docs-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}*/
.bs-docs-sidenav > .active2 > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 1px solid #f8f8f8;
  background: #fff;
  box-shadow: 1px 1px 1px #888;
}
.bs-docs-sidenav > .active2 > a:hover {
    text-decoration: none;
    background-color: #f1b28b;
}

.bs-docs-sidenav-depth1 {
  padding-left: 0px;
}
.bs-docs-sidenav-depth2 {
  padding-left: 15px;
}
.bs-docs-sidenav-depth3 {
  padding-left: 30px;
}

h3.carousel-text {
  background-color: rgba(33, 33, 33, 0.7);
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
  /* Adjust sidenav width */
  .bs-docs-sidenav {
    width: auto;
    margin-top: 20px;
  }
  .extraDlLink {
    padding-right: 20px;
  }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
  /* Sidenav */
  .bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
  }
  .extraDlLink {
    padding-right: 20px;
  }
  .screenshotImg {
    padding-left: 75px;
    width: 375px;
    height: 195px;
  }
  .screenshotIcon {
    width: 75px;
    height: 75px;
  }
  .screenshotStar {
    position: absolute;
    left: 375px;
    top: 10px;
    width: 45px;
    height: 45px;
  }
  .screenshotPay {
    position: absolute;
    left: 250px;
    top: 50px;
    width: 35px;
    height: 35px;
  }
  .screenshotDivAuthor {
    width: 375px;
  }
  .patreonlink {
    width: 100%;
  }
}


/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    .screenshotImg {
    padding-left: 50px;
	width: 250px;
	height: 130px;
    }
    .screenshotIcon {
	width: 50px;
	height: 50px;
    }
    .screenshotStar {
	position: absolute;
	left: 250px;
	top: 10px;
	width: 30px;
	height: 30px;
    }
    .screenshotPay {
	position: absolute;
	left: 250px;
	top: 50px;
	width: 23px;
	height: 23px;
    }
    .screenshotDivAuthor {
	width: 200px;
    }
    .screenshotSection {
	font-size: 10px;
    }
    .screenshotAuthor {
	font-size: 10px;
	float: left;
	text-align: left;
    }
    .downloadText {
    font-size: 1.5em;
    }
    .extraDlLink {
    padding-right: 20px;
    }
}

div.fb-like
{
    top:-5px;
    left:-19px;
}
